<link rel="stylesheet" href="/css/header.css">

<header id="main-header">
  <div class="logo" id="header-logo">
    <a href="/" id="logo-link">Codeial</a>
  </div>
  <ul id="header-menu">
    <% if (locals.user) { %>
      <li id="user-name"><%= user.name %></li>
      <li id="user-email"><%= user.email %></li>
      <li><a href="/users/profile/<%= user.id %>" class="profile" id="profile-link">Profile</a></li>
      <li><a href="/users/sign-out" class="signout" id="signout-link">Sign Out</a></li>
    <% } else { %>
      <li><a href="/users/sign-in" id="signin-link">Sign In</a></li>
      <li><a href="/users/sign-up" id="signup-link">Sign Up</a></li>
    <% } %>
  </ul>
</header>
