<h1>Codeial / Home page</h1>
<p>Welcome to the home page.</p>

<section>
    <form action="/posts/create" id="new-post" method="post">
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Type here"></textarea>
        <input type="submit" value="Post">
    </form>

    <div id="post-list-container">
        <ul id="post-list">
            
                <h1>Posts</h1>
                <% if(locals.user) { %>
            <% for(let post of posts){ %>
                <li>
                    <%= post.content %>
                    <br>
                    <small>
                    <p>
                        <% if (post.user) { %>
                          <%=post.user.name%>
                        <% } %>
                      </small>
                    </p>
                    <div class="post-comments">
                        <%if(locals.user){%>
                            <form action="/comments/create" method="POST">
                            <input type="text" name="content" placeholder="Add comment...">
                            <input type="hidden" name="post" value="<%=post._id%>">
                            <input type="submit" value="Add Comment">
                            <% } %>
                        </form>
                    </div>
                      
                </li>
            <% } %>
            <% } %>



            
        

        </ul>
    </div>
</section>
