
        <h1>Codeial / Home page</h1>
        <p>Welcome to the home page.</p>
        <p><a href="/about">About</a></p>
        <p><a href="/contact">Contact</a></p>
        <p><a href="/users/sign-up">Sign Up</a></p>
        <p><a href="/users/sign-in">Sign In</a></p>
        <p><a href="/users/profile">Profile</a></p>
        
        
       