<link rel="stylesheet" href="/css/signIn.css">
<h1>
    Codeial / Sign In page
</h1>
<p>
    Welcome to the sign in page.

</p>
<form action="/users/create-session" method="POST">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign In">
</form>


<p>
    <a href="/users/auth/google">Sign-in /sign-up with Google</a>

</p>




