
<link rel="stylesheet" href="/css/user_profile.css">
        <h1>Codeial/Profile page</h1>

        <div class="profile-container">
            <div class="profile">
                <div class="profile-image">
                    <img src="<%=user.avatar%>" alt="profile image">
                </div>
                <div class="profile-info">
                    <h2><%=user.name%></h2>
                    <h3><%=user.email%></h3>
                    <p><%=user.bio%></p>
                </div>
            </div>
       
        