
<link rel="stylesheet" href="/css/user_profile.css">
        <h1>Codeial/Profile page</h1>

        <div class="profile-container">
            <div class="profile">
                
                <div class="profile-details">
                    <h2><%= user.name %></h2>
                    <h3><%= user.email %></h3>
                   
                </div>
            </div>

            <!-- place a sign-out link and remove the cookie -->
                <a href="/users/sign-out">Sign Out</a>
        </div>
        
               
        

        
       
        