#user-chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
  
    // Set the width and height of the chat box
    width: 270px;
    height: 200px;
  
    // Add a border around the chat box
    border: 1px solid #ccc;
  
    // Remove the background color of the chat box
    background-color: transparent;
  
    // Add padding inside the chat box
    padding: 10px;
  
    ul#chat-messages-list {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
        font-size: 14px;
  
        &.other-message {
          text-align: left;
        }
  
        .self-message {
          display: inline-block;
          background-color: #007bff;
          color: #fff;
          padding: 5px 10px;
          border-radius: 4px;
        }
      }
    }
  
    #chat-message-input-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      input#chat-message-input {
        flex-grow: 1;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
      }
    }
  }
  