body {
  background-color: #1a1a1a;
  color: #fff; }

h1 {
  color: #fff; }

p {
  color: #c0c0c0; }

form input[type="text"],
form input[type="submit"] {
  background-color: #fff;
  color: #000; }

form input[type="submit"] {
  background-color: #000;
  color: #fff; }
